/dataset/Shelter Animal Outcomes/~$train.xlsx
/simulation/Shelter Animal Outcomes/__pycache__/*.pyc
/simulation/Shelter Animal Outcomes/cpon/__pycache__/*.pyc
/dataset/Ultrasound Nerve Segmentation/train_masks.csv
/dataset/Ultrasound Nerve Segmentation/test
/dataset/Ultrasound Nerve Segmentation/train
/dataset/Ultrasound Nerve Segmentation/sample_submission.csv
/dataset/Facebook V-Predicting Check Ins/train.csv
/dataset/Facebook V-Predicting Check Ins/sample_submission.csv
/dataset/Facebook V-Predicting Check Ins/test.csv
